/* Container for the cards */
#teamContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* padding: 20px; */
    margin-top: 5%;
    margin-bottom: 50px;
}


/* Card styles */
.team-card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 0 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.379);
}


.team-card  img{
    width:100%;
    height: 100%;
    object-fit:cover;
    transition: 0.5s ease-in-out;
}

.team-card::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.team-card:hover img{
    filter: grayscale(1) brightness(0.4);
}
.team-card:hover::after {
    opacity: 1;
    inset: 20px;
}

.team-card .textcontainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 30px 30px 50px 30px;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: white;
    opacity: 0;
    transform: translateY(20px); /* Move text below the view */
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .textcontainer h5{
    padding-bottom: 5px;
 }
.team-card:hover img {
    filter: grayscale(1) brightness(0.4);
}
.team-card:hover::after {
    opacity: 1;
    inset: 20px;
}

.team-card:hover .textcontainer {
    opacity: 1;
    transform: translateY(0); /* Bring text back into view */
}
#contactUs{
    
    background-color: #368977;
    color: #fff;
    padding: 100px;
}
#contactUs h2{
    text-shadow: 2px 2px 5px #FD9BE7;
}

.contactUs{
    background-color: #fff;
    color:#000;
    margin: 50px 20px ;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.379);
}
.aboutCourses{
    max-width: 400px;
    
}
.aboutCourses h4{
    margin: 0 45px;
}
.aboutCourses ul{
    width: 400px;
    display: block;
    list-style:circle;
    font-size: 18px;
    margin:20px 50px;
}
.aboutCourses ul, .aboutCourses li{
    width: 400px;
    padding-top: 2%;
    padding-bottom: 2%;
}
@media only screen and (max-width: 1000px){
    #teamContainer{
        margin-top: 100px;
    }
}