body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.courses{
    margin-top: 100px;
}
.course-level {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.details-btn {
    background: #da0faeb5;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}

.details-btn:hover {
    background-color: #0056b3;
}

.btn {
    background-color: #49da0f5d;
    padding: 3px 6px;
    color: black;
    text-decoration: none;
}
.details {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 3px solid #ddd;
}
