:root{
    --color-1:#13312B;
    --color2Clear: #76AFA3;
    --color2:#368977;
    --color2Dark:#13312B;
    --color3clear:#B1DCE4;
    --color3:#8DCBD8;
    --color3Dark: #496A70;
    --color3BG: #e7e7e786;
    --color4: #FD9BE7;
    --clear:#fff;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
main{
    margin: 0;
    overflow-x: hidden;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size:24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}

p{
    font-size: 16px;
}
header{
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: var(--clear);
    color:var(--color-1);
    position: fixed;
    top: 0;
    border-bottom: 1px solid var(--color2);
    box-shadow: 0px 2px 20px #9f9f9f9e;
    z-index: 10;
}
#myButton{
    margin: 10px 20px;
    /* width: 45px;
    height: 45px; */
    font-size: 40px;
    font-weight: 300;
    background-color: #fff;
    border: none;
    display: none;
}
header a{
    text-decoration: none;
    color: var(--color-1);
}
header img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 80%;
    
    margin-right: 30px;
}
header li{
    font-weight: 500;
    color:var(--color-1);
    cursor: pointer;
    
}
/* .menu:hover{
    text-decoration: underline 5px var(--color3) ;
    transition: all 0.6 ease ;
    
} */
.menu {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 2px;
}

.menu::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 5px; 
    background-color: var(--color3);
    border-radius: 5px; 
    transition: all 0.4s ease-out;
    transform: translateX(-50%);
}

.menu:hover::after {
    width: 100%;
}


.btn{
    color: var(--clear);
    border: none;
    border-radius: 20px;
    height: 45px;
    width: 300px;
    font-weight: 600;
    transition: 800ms ease;
    background: rgb(54,137,119);
    /* background: linear-gradient(165deg, rgba(54,137,119,1) 12%, rgba(19,49,43,1) 100%); */
}
.btn:hover{
    box-shadow: 2px 2px 10px #13312b88;
    border: 1px solid var(--color2Dark);
    transition: 800ms ease;
    background-color: var(--color3);
       
}
.content-flex-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.content-flex-column2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    
}
.content-flex-column-left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
}
.content-flex-row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.content-flex-row-small{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.content-flex-row-left{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center; 
}
.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.space-even{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

#product, 
#comments{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.background-1{
    
    background-color: var(--color3BG);
}
footer{
    width: 100%;
    height: 200px;
    border-top: 1px solid var(--color2);
    box-shadow: -2px -2px 10px  #9f9f9f;
    color: var(--clear);
    background: rgb(54,137,119);
    background: linear-gradient(176deg, rgba(54,137,119,1) 2%, rgba(19,49,43,1) 100%);
}

/* footer div:nth-child(1){
     border: solid 1px #fff;
} */
#logoFooter{
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-right: auto;
    
}
footer ul{
    list-style: none;
    width:400px;
    padding-right: 30px;
}
footer li {
    color: var(--clear);
    padding: 2px;
    text-align: left;
    
}
footer li:hover{
    color: var(--color3);
    transition: all 0.6s ease;

}

.footerText{
    max-width: 500px;
    margin-top: 30px;
    
}
.footerText a{
    color: #fff;
    text-decoration: none;
}
.footerText a:hover{
    text-decoration: underline;
    color: var(--color3);
    transition: all 0.6s ease;
}
@media only screen and (max-width: 600px){
    header ul{
        display:none;
    }
    #myButton{
     display: block;
    }
    .open{
        display: block;
        position: absolute;
        top: 60px;
        padding: 20px;
        margin: 0 auto;
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #13312B;
    }
    header li{
        margin-top: 10px;
    }

}
@media only screen and (max-width: 800px){
    header{
        width: 100%;
        
    }

   
    #logoFooter{
        margin: auto;
    }
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer-text ul{
        margin: auto;
        padding: 0;
        width: 100%;
    }
    footer ul{
        padding-right: 0;  
    }
    /* .content-flex-column-left{
        margin: auto;
    } */


}
@media only screen and (max-width: 1000px){
    header{
        width: 100%;
    }
    main{
        width: 100%;
        
    }
    #team, .contactUs{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    
    }
    footer{
        width: 100%;
        height: 500px;
    }

}
